<p> <%= link_to "Português (Brasil)", root_path(locale: 'pt-br') %> </p>
<p> <%= link_to "English", root_path(locale: 'en') %> </p>

<h1>Seja Bem Vinda, <%= @nome %>!</h1>
<p>O idioma que está sendo utilizado nessa aplicação é: <strong> <%= t('actual_locale') %> </strong> </p>

<p><strong>Data:</strong> <%= br_date(Date.today)  %></p>

<h2><%= t(:hello) %></h2>

<%= render 'menu' %>

<p>
  Você está em ambiente de <strong><%= environment_rails %> </strong>
</p>
