<div class="jumbotron">
  <h1 class="display-4"><%= t('welcome') %></h1>

  <p class="lead"> <%= t('messages.welcome') %></p>
  <hr class="my-4">

  <p><%= t('messages.menu ') %></p>

  <%= render 'menu' %>

  <h3><%= t(:hello) %></h3>

  <p>O idioma que está sendo utilizado nessa aplicação é: <strong> <%= t('current_locale') %> </strong> </p>

  <p><strong>Data:</strong> <%= br_date(Date.today)  %></p>
</div>
