<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <%# # index.html.erb, edit.html.erb %>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
          $.notify("Conexão realizada com sucesso!", "success");
        });
    </script>
  </body>
</html>
