<div id="<%= dom_id coin %>">

  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title"><strong>Description:</strong>
        <%= coin.description %></h5>
      <p class="card-text"> <strong>Acronym:</strong>
        <%= coin.acronym %></p>
      <%= image_tag coin.url_image, size: '25x25' %>

      <p>
        <%= button_to t('links.delete'), @coin, method: :delete, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
  <br>
</div>
