<%= form_with(model: coin) do |form| %>
  <% if coin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

      <ul>
        <% coin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :acronym, style: "display: block" %>
    <%= form.text_field :acronym, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :url_image, style: "display: block" %>
    <%= form.text_field :url_image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :mining_type, style: "display: block" %>
    <%= form.select("mining_type_id", @mining_types, { include_blank: 'Selecione'}, class: 'form-control' ) %>
  </div>

  <div>
    <%= form.submit nil, class: 'btn btn-outline-primary' %>
  </div>
<% end %>
