<p style="color: green"><%= notice %></p>

<h1><%= t('thead.coins') %></h1>

<table>
  <thead>
    <tr>
      <th><%= @coins.human_attribute_name(:description) %></th>
      <th><%= @coins.human_attribute_name(:acronym) %></th>
      <th><%= t('thead.image') %></th>
      <th><%= t('thead.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.description %></td>
        <td><%= coin.acronym %></td>
        <td> <%= image_tag coin.url_image, width:25, height:25 %> </td>
        <td><%= link_to t('links.show'), coin %></td>
        <td><%= link_to t('links.edit'), edit_coin_path(coin) %></td>
        <td><%= link_to t('links.delete'), coin, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('links.new_coin'), new_coin_path %>
